body {
  text-align: center;
  font-family: monospace, sans-serif;
  margin: 10px 100px;
  padding: 50px 50px;
}

h1 {
  color: #333;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  width: 20%;
}

.container {
  width: 50%;
  border: 6px solid white;
  margin: auto;
  padding: 50px 10px;
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
}

button {
  padding: 10px 20px;
  background-color: white;
  border-radius: 7px;
  color: gray;
  border: solid;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

button:hover {
  background-color: #555;
}
footer {
  bottom: center;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
.bitmojiImage {
  max-width: 100px;
}

.game-container {
  position: relative;
}

.game-particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ff9900;
  border-radius: 50%;
  animation: particle-animation 3s infinite;
}

@keyframes particle-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.game-title {
  position: relative;
  color: #ff00ff;
}

.game-title::after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #00ffff;
  animation: glitch-animation 1s infinite;
}

@keyframes glitch-animation {
  0% {
    clip: rect(14px, 9999px, 28px, 0);
    transform: skew(0.5deg);
  }
  20% {
    clip: rect(14px, 9999px, 28px, 0);
    transform: skew(0.8deg);
  }
  40% {
    clip: rect(4px, 9999px, 38px, 0);
    transform: skew(0.2deg);
  }
  60% {
    clip: rect(24px, 9999px, 14px, 0);
    transform: skew(1deg);
  }
  80% {
    clip: rect(12px, 9999px, 26px, 0);
    transform: skew(0.6deg);
  }
  100% {
    clip: rect(24px, 9999px, 38px, 0);
    transform: skew(0.4deg);
  }
}
